@import "./utilities/mixins";
@import "./utilities/variables";
@import "./base/reset";
@import "./base/typografias";
@import "./layout/header";
@import "./layout/main-index";

@import "./layout/footer";
@import "./components/subtitulos";
@import "./layout/media/media720";
.info{
    img{
        width: 100%;

    }
    p{
        font-size: 1.25rem;
        font-weight: 300;
        font-family: "fuente";
    }
}
