@import "./utilities/mixins";
@import "./utilities/variables";

@import "./base/reset";
@import "./base/typografias";


@import "./layout/main-index";
@import "./layout/footer";

@import "./components/navbar";


/*@import "./layout/media/media750";
@import "./layout/media/media625";
@import "./layout/media/media376";*/

img{
    width: 100%;
    height: 31.25rem;
    object-fit: contain;
    background-size: contain;        
}
section{
    p{
        text-align: center;
        font-size: 1.25rem;
        font-weight: 400;
        font-family: "fuente",sans-serif;
        color: black;
    }
}


