@import "./utilities/mixins";
@import "./utilities/variables";

@import "./base/reset";
@import "./base/typografias";

@import "./layout/donaciones";
@import "./layout/adopciones";
@import "./layout/contactos";
@import "./layout/experiencias";

@import "./layout/header";

@import "./layout/main-index";
@import "./layout/footer";
@import "./layout/media/media720";
@import "./layout/contenedor-cars";
@import "./layout/header";
@import "./layout/media/media720";

@import "./components/card_basic";
@import "./components/subtitulos";


.pagina{
    img{
        width: 100%;
        height: 31.25rem;
        object-fit: contain;
        background-size: contain;        
    }


}
.pagina1{
    img{
        width: 100%;
        height: 18.75rem;
        object-fit: contain;
        background-size: contain;
    }
}

section{
    p{
        text-align: center;
        font-size: 1.25rem;
        font-weight: 400;
        font-family: "fuente",sans-serif;
        color: black;
    }
}

@media (max-width:720px){
    header{
        height: 12.5rem;
    }
    .navbar{
        ul{
           
            flex-direction: column;
          
        }
    }
    .pagina{
        img{
            height: 18.75rem;
        }
    }
    
}