

.pagina{    
    width: 100%;
    height: 43.75rem;   
   background-color: $color-principal;

}
    
    h1{
        padding-top: 10px;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        font-family: "fuente";
        color: $color-letras;        
        }
   
    

